
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Change password!</title>
    <style type="text/css">
      .thankyou_main{
    height: calc(100vh - 90px);
    background: transparent;
      }
      :root {
   --color-white: #fff;
   --color-light: #f1f5f9;
   --color-black: #121212;
   --color-night: #001632;
   --color-red: #f44336;
   --color-blue: #1a73e8;
   --color-gray: #80868b;
   --color-grayish: #dadce0;
   --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
 a, button {
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
   cursor: pointer;
   border: none;
   outline: none;
   background: none;
   text-decoration: none;
}
 img {
   display: block;
   width: 100%;
   height: auto;
   object-fit: cover;
}
 .container {
   display: flex;
   justify-content: center;
   align-items: center;
}
 .ion-logo-apple {
   font-size: 1.65rem;
   line-height: inherit;
   margin-right: 0.5rem;
   color: var(--color-black);
}
 .ion-logo-google {
   font-size: 1.65rem;
   line-height: inherit;
   margin-right: 0.5rem;
   color: var(--color-red);
}
 .ion-logo-facebook {
   font-size: 1.65rem;
   line-height: inherit;
   margin-right: 0.5rem;
   color: var(--color-blue);
}
 .text {
   font-family: inherit;
   line-height: inherit;
   text-transform: unset;
   text-rendering: optimizeLegibility;
}
 .text-large {
   font-size: 2rem;
   font-weight: 600;
   color: var(--color-black);
}
 .text-normal {
   font-size: 1rem;
   font-weight: 400;
   color: var(--color-black);
}
 .text-links {
   font-size: 1rem;
   font-weight: 400;
   color: var(--color-blue);
}
 .text-links:hover {
   text-decoration: underline;
}
 .main .wrapper {
   max-width: 28rem;
   width: 100%;
   margin: 2rem auto;
   padding: 2rem 2.5rem;
   border: none;
   outline: none;
   border-radius: 0.25rem;
   color: var(--color-black);
   background: var(--color-white);
   box-shadow: var(--shadow-large);
}
 .main .wrapper .form {
   width: 100%;
   height: auto;
   margin-top: 2rem;
}
 .main .wrapper .form .input-control {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1.25rem;
}
 .main .wrapper .form .input-field {
   font-family: inherit;
   font-size: 1rem;
   font-weight: 400;
   line-height: inherit;
   width: 100%;
   height: auto;
   padding: 0.75rem 1.25rem;
   border: none;
   outline: none;
   border-radius: 2rem;
   color: var(--color-black);
   background: var(--color-light);
   text-transform: unset;
   text-rendering: optimizeLegibility;
}
 .main .wrapper .form .input-submit {
   font-family: inherit;
   font-size: 1rem;
   font-weight: 500;
   line-height: inherit;
   cursor: pointer;
   min-width: 40%;
   height: auto;
   padding: 0.65rem 1.25rem;
   border: none;
   outline: none;
   border-radius: 2rem;
   color: var(--color-white);
   background: var(--color-blue);
   box-shadow: var(--shadow-medium);
   text-transform: capitalize;
   text-rendering: optimizeLegibility;
} 










#snackbar {
  visibility: hidden;
 /* min-width: 250px;
  margin-left: -125px;*/
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 20%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}




#snackbar1 {
  visibility: hidden;
 /* min-width: 250px;
  margin-left: -125px;*/
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 40%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar1.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>









  </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <div class="text-center">
            <a href="#" class="py-3 d-block">
              <img src="https://anryton-assets-dev.s3.amazonaws.com/1675352243_logo.svg" alt="logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
   <div class="jumbotron text-center mb-0 thankyou_main d-flex flex-column justify-content-center">
  <main class="main">
  <div class="container">
    <section class="wrapper">
      <div class="heading">
        <h1 class="text text-large">Confirm Password</h1>
      
<div id="snackbar">Password should contain one character, one digit, one special character, and a length between 8 and 15 characters</div>
<div id="snackbar1">Please fill all the fields.</div>
      </div>
      <form class="form">
        <div class="input-control">
          <label for="email" class="input-label" hidden>Email Address</label>
          <input type="password" name="email" id="newP" class="input-field" placeholder="Password">
        </div>
        <div class="input-control">
          <label for="password" class="input-label" hidden>Password</label>
          <input type="password" name="password" id="confirmP" class="input-field" placeholder="Confirm Password">
        </div>
        <div class="input-control">
          
          <input type="button"  onclick="checkForm()" name="submit" class="input-submit" value="Save">
        </div>
      </form>
      </div>
    </section>
  </div>
</main>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        




        <script type="text/javascript">


         
 function checkForm()
   {
    ////console.log("funcation calling")
    let url= window.location.href;
    let token= url.split('?')[1];
    token= token.split('=')[1];
    ////console.log("token---", token)
    var newP=document.getElementById("newP").value;
    var confirmP =document.getElementById("confirmP").value;

    if(newP!=""&&confirmP!="")
    {

        if(newP==confirmP)
         {
//var passw=  /^[A-Za-z]\w{7,14}$/;
    const charRegex = /[a-zA-Z]/;
    const digitRegex = /\d/;
    const specialCharRegex = /[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/;

    // Check if the password meets all criteria
    const hasChar = charRegex.test(confirmP);
    const hasDigit = digitRegex.test(confirmP);
    const hasSpecialChar = specialCharRegex.test(confirmP);
    const isLengthValid = confirmP.length >= 8 && confirmP.length <= 15;
    // //console.log("hasChar && hasDigit && hasSpecialChar && isLengthValid", hasChar , hasDigit , hasSpecialChar , isLengthValid)

    // Return true if all criteria are met, false otherwise
    if(hasChar && hasDigit && hasSpecialChar && isLengthValid)
{
    $.post("/v1/resetPasswordPost",
        {token: token, password: confirmP},
         function (data, status) {
            
window.location= "https://api-bioaro.virtualittechnology.com/thank-you";
         });

          return true;
}
else
{ 

  
    var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
       
         }
     }
         else
          {
            alert("Confirm password is not same as your new password.");
            return false;
          }
        }

    else
    {
     var x = document.getElementById("snackbar1");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
     return false; 
    }
}

window.onload = function() {
    //console.log("onloadddd")
     let url= window.location.href;
    let token= url.split('?')[1];
    token= token.split('=')[1];
    checkToken(token);
   
};


function checkToken(token){
    //console.log("checkToken calling", token);
     $.post("/v1/checkResetPasswordWebToken",
        {token: token},
         function (data, status) {
            if(data.status == 0){
window.location= "https://api-bioaro.virtualittechnology.com/link-expired";
            }
            else{
                return true;
            }
            //window.location.reload("https://anryton.com/");
         });
}

</script>

  </body>
</html>
